<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account-restaurant.css">
    <title>Historial de Reservas</title>
</head>

<body>
    <%- include partials/header %>
    <% if (restaurantOrders.length >= 1) { %>
     
        <% restaurantOrders.forEach(order => { %>
            <main class="main-order">
                <article class="reserve-form">
                    <div class="box-order1">
                        <img src="<%= userDataBase[userDataBase.findIndex(i => i.idUser == order.idUser)].avatar %>" alt="imagen usuario" class="image-restaurant">
                    </div>    
                    <div class="left-separation box-order2">
                        <h4><%= userDataBase[userDataBase.findIndex(i => i.idUser == order.idUser)].nombre +' '+ userDataBase[userDataBase.findIndex(i => i.idUser == order.idUser)].apellido %></h4>
                        <h4>Platos Comprados: <%  order.info_order.forEach(plato => { %>
                            <%= productsDataBase[productsDataBase.findIndex(i => i.idPlato == plato.idPlato)].plato %> 
                            (x <%= plato.cantidad %>)
                            <% }); %>
                        </h4>
                        <h5>Nº de comensales: <%= order.comensales %></h5>
                        <h5>Fecha y hora de la reserva: <%= order.fecha_hora_reserva %></h5>
                        <h5>Total: $<%= order.precioTotal %></h5>
                    </div>
                    <div class="buttons-orders">
                        <form action="" method="POST" class="logout-button">
                            <button type="submit" class="none-decoration">Confirmar Reserva</button>
                        </form>
                        <form action="" method="POST" class="logout-button">
                            <button type="submit" class="none-decoration">Cancelar Reserva</button>
                        </form>
                    </div>    
                </article>
            </main>
            <%  }); %> 
        <% } else { %>
            <h2 class="no-orders">todavia no tenes pedidos...</h2>
            <a href="/user/account-buisness/products">
                <h2 class="no-orders">Te invitamos a ver los platos que tenes para ofrecer</h2>
            </a>
    <% } %>
    <form action="/user/account-buisness">
        <fieldset class="logout-button">
            <button type="menu" class="none-decoration">Volver</button>
        </fieldset>
    </form> 
    <%- include partials/footer %>     
</body>

</html>