<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account.css">
    <title>Historial de Reservas</title>
</head>

<body>
    <%- include partials/header %>
    <main class="main-order">
    <% if (restaurantOrders.length >= 1) { %>
     
        <% restaurantOrders.forEach(order => { %>
                <article class="reserve-form">
                    <div class="box-order1">
                        <img src="<%= order.users.avatar %>" alt="imagen usuario" class="image-result">
                        <h4><%= order.users.nombre +' '+ order.users.apellido %></h4>
                    </div>    
                    <div class="left-separation box-order2">
                        <div class="flex">
                            <a href="/buisness/account/order/<%= order.idOrder %>" class="order-title">
                                <h4>Pedido #<%=order.idOrder %> </h4>
                            </a>
                        </div>
                        <ul>
                            <% order.products.forEach(product => { %>
                                <li class="products">
                                    <a href="/product/<%= product.idPlato %> " class="products">
                                        <%= product.plato %>
                                    </a>
                                    (x<%= order.platos[order.platos.findIndex(i => i.idOrder == order.platos.idOrder)].cantidad %>)
                                </li>
                            <% }) %> 
                        </ul>
                    </div>
                    <form action="" method="POST" class="coment-button box-order3">
                        <% if (order.estado == 'Completada') { %>
                            <h4 class="confirmed"><%= order.estado %> </h4>
                            <% } else if (order.estado == 'Cancelada') { %>
                                <h4 class="cancel"><%= order.estado %> </h4>
                            <% } %> 
                    </form>
                </article>
                <%  }); %> 
                <% } else { %>
                    <h2 class="no-orders">todavia no tenes pedidos...</h2>
                    <a href="/buisness/account/products">
                        <h2 class="no-orders">Te invitamos a ver los platos que tenes para ofrecer</h2>
                    </a>
                    <% } %> 
                    <form action="/buisness/account">
                        <fieldset class="logout-button center">
                            <button type="menu" class="none-decoration">Volver</button>
                        </fieldset>
                    </form>
                </main>
    <%- include partials/footer %>     
</body>

</html>