<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account-restaurant.css">
    <title>Listado de Platos</title>
</head>

<body>
    <%- include partials/header %>
    <main class="main-order">
        <form action="/user/account-buisness/products/new">
            <fieldset class="add-button">
                <button type="submit" class="none-decoration2">Agregar</button>
            </fieldset>
        </form>
        <% if (productsBuisness.length >= 1) { %>
            
            <% productsBuisness.forEach(product => { %>
                <article class="reserve-form">
                    <div class="box-order1">
                        <img src="<%= product.imagen %>" alt="imagen plato" class="image-result">
                    </div>    
                    <div class="left-separation box-order2">
                        <h4><%= product.plato %></h4>
                        <h4><%= product.descripcion %></h4>
                        <h4><%= product.categoria %></h4>
                        <h5>Precio: $<%= product.precio %></h5>
                    </div>
                    <div class="buttons-orders">
                        <form action="/user/account-buisness/products/edit/<%= product.idPlato %>" method="GET" class="logout-button">
                            <button type="submit" class="none-decoration">Editar</button>
                        </form>
                        <form action="/user/account-buisness/products/<%= product.idPlato %>/delete?_method=DELETE" method="POST" class="logout-button">
                            <button type="submit" class="none-decoration">Eliminar</button>
                        </form>
                    </div>    
                </article>
                <%  }); %> 
            </main>
        <% } else { %>
            <h2 class="no-orders">todavia no tenes platos para ofrecer?</h2>
            <h2 class="no-orders">Hace click en agregar y esperá las reservas</h2>
    <% } %>
    <form action="/user/account-buisness">
        <fieldset class="logout-button center">
            <button type="menu" class="none-decoration">Volver</button>
        </fieldset>
    </form> 
    <%- include partials/footer %>     
</body>

</html>