<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="./css/index.css">
        <script src="/js/swiper.js"></script>
        <title>Comamos</title>
</head>

<body>
    <%- include partials/header %>
        <main id="blur">
            <div class="parallax">
                <h1 class="frase-main">Elegí tu plato en tu restaurante favorito, sentate y listo</h1>
                <div class="search">
                    <form action="/product/search" method="GET" id="search-bar">

                        <label for="busqueda1"></label>
                        <input type="text" name="busqueda1" id="busqueda1" placeholder="Restaurante, tipo de comida...">

                        <label for="busqueda2"></label>
                        <input type="text" name="busqueda2" class="box-mobile" id="busqueda2" placeholder="Cerca de mi dirección">

                        <select name="filtrar" id="filtrar" class="box-mobile">
                            <option value="filtra">Filtra tu búsqueda</option>
                            <option value="Entrada">Entrada</option>
                            <option value="Plato Principal">Plato Principal</option>
                            <option value="Postre">Postre</option>
                            <option value="Bebida">Bebida</option>
                        </select>
                        <button type="submit" name="buscar" id="boton-buscar">Buscar</button>
                        <i class="fas fa-search" id="boton-lupa"></i>
                    </form>
                </div>
            </div>
            <section class="los-mas-elegidos">
            <h2 class="titulo-los-mas-elegidos">Los más elegidos</h2> 
            <div class="contenedor-1">
                <% randomProducts.forEach (product => { %> 
                    <div class="box">
                        <a href="" class="fas fa-heart"></a>
                        <a href="/product/<%= product.idPlato %>" class="fas fa-eye"></a>
                        <img src="<%= product.imagen %>" alt="">
                        <h3><%= product.plato %> </h3>
                        <span>$<%= product.precio %></span>
                        <a href="#" id="<%= product.idPlato %> " class="btn">Reservar</a>
                    </div>
                <% }); %> 
            </div>
            </section>
            <section>
                <h2 class="titulo-nuestras-sugerencias">Nuestras sugerencias</h2>
                <div class="nuestras-sugerencias">
                    <div class="recomendations-format">
                        <h2 class="recomendations-title">Ver mas productos...</h2>
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <% randomProducts.forEach(product => { %>
                                    <img src="<%= product.imagen %>" alt="para compartir con" class="swiper-slide" class="claseImage" onclick="window.location.href = '/product/<%= product.idPlato %>'">
                                <% }); %>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <div class="recomendations-format">
                        <h2 class="recomendations-title">Mira estos restaurantes</h2>
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <% randomRestaurants.forEach(restaurant => { %>                        
                                    <img src="<%= restaurant.avatar %>" alt="para compartir con" class="swiper-slide claseImage" onclick="window.location.href = '/lista-platos/<%= restaurant.idRestaurant %>'">
                                <% }); %>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include partials/footer %>
        <script src="/js/shop.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>

</html>