<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
        <link rel="stylesheet" href="/css/lista-restaurantes.css">
        <title>Restaurantes</title>
</head>


<body>
    <% include partials/header %>
        <main>

            <h1 class="titulo">Restaurantes:</h1>
            <div class="todos">
                <% restaurantes.forEach (resto=> { %>
                    <div class="plato">
                        <img src="<%= product.avatar %>" alt="" width="20%"> 
                        <h4><%= resto.nombre %> </h4>
                        <h5><%= resto.direccion %> </h5>
                        <h5><%= resto.capacidad %> </h5>
                    </div>
                <% }) %>
                <article class="resto">
                    <h2>Restaurante A</h2>
                    <img class="img-kansas" src="/img/avatars/kansas-fachada.jpg" alt="" width="20%" height="20%">
                    <h5 class="tipo-comida">Tipo de comida</h5>
                    <h4>Dirección</h4>
                    <h5>Precio promedio</h5>
                    <button>Ver más</button>
                </article>
                <br>
                <article class="resto">
                    <h2>Restaurante B</h2>
                    <img class="img-kansas" src="/img/avatars/kansas-fachada.jpg" alt="" width="20%" height="20%">
                    <h5 class="tipo-comida">Tipo de comida</h5>
                    <h4>Dirección</h4>
                    <h5>Precio promedio</h5>
                    <button>Ver más</button>
                </article>
                <br>
                <article class="resto">
                    <h2>Restaurante C</h2>
                    <img class="img-kansas" src="/img/avatars/kansas-fachada.jpg" alt="" width="20%" height="20%">
                    <h5 class="tipo-comida">Tipo de comida</h5>
                    <h4>Dirección</h4>
                    <h5>Precio promedio</h5>
                    <button>Ver más</button>
                </article>
                <br>
                <article class="resto">
                    <h2>Restaurante D</h2>
                    <img class="img-kansas" src="/img/avatars/kansas-fachada.jpg" alt="" width="20%" height="20%">
                    <h5 class="tipo-comida">Tipo de comida</h5>
                    <h4>Dirección</h4>
                    <h5>Precio promedio</h5>
                    <button>Ver más</button>
                </article>
                <article class="resto">
                    <h2>Restaurante E</h2>
                    <img class="img-kansas" src="/img/avatars/kansas-fachada.jpg" alt="" width="20%" height="20%">
                    <h5 class="tipo-comida">Tipo de comida</h5>
                    <h4>Dirección</h4>
                    <h5>Precio promedio</h5>
                    <button>Ver más</button>
                </article>
                <article class="resto">
                    <h2>Restaurante F</h2>
                    <img class="img-kansas" src="/img/avatars/kansas-fachada.jpg" alt="" width="20%" height="20%">
                    <h5 class="tipo-comida">Tipo de comida</h5>
                    <h4>Dirección</h4>
                    <h5>Precio promedio</h5>
                    <button>Ver más</button>
                </article>
                <article class="resto">
                    <h2>Restaurante G</h2>
                    <img class="img-kansas" src="/img/avatars/kansas-fachada.jpg" alt="" width="20%" height="20%">
                    <h5 class="tipo-comida">Tipo de comida</h5>
                    <h4>Dirección</h4>
                    <h5>Precio promedio</h5>
                    <button>Ver más</button>
                </article>
                <article class="resto">
                    <h2>Restaurante H</h2>
                    <img class="img-kansas" src="/img/avatars/kansas-fachada.jpg" alt="" width="20%" height="20%">
                    <h5 class="tipo-comida">Tipo de comida</h5>
                    <h4>Dirección</h4>
                    <h5>Precio promedio</h5>
                    <button>Ver más</button>
                </article>
            </div>

        </main>
        <% include partials/footer %>
</body>

</html>