<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
        <link rel="stylesheet" href="/css/lista-platos.css">
        <title>Platos</title>
</head>

<body>
    <% include partials/header %>
        <main>
            <h2>Platos</h2>
            <div>
                <article>
                    <h3>Entradas</h3>
                    <br>
<<<<<<< HEAD
=======
                    
                    <% products.forEach (product=> { %>
                        <div class="plato">
                            <img src="<%= product.imagen %>" alt="" width="20%"> 
                            <h4><%= product.plato %> </h4>
                            <h5>$<%= product.precio %> </h5>
                            <h5><%= product.productRestaurant %> </h5>
                        </div>
                    <% }) %> 

>>>>>>> ba41b47aac0773a46daa933cb03199beaaf98c4e
                    <button class="arrow"><i class="fas fa-arrow-left"></i></button>
                    <% products.forEach(product => { %>
                        
                        <a class="plato" href="/product/<%= product.idPlato %> ">
                            <img src="<%= product.imagen %>" alt="" width="20%">
                            <h4><%= product.plato %></h4>
                            <h5><%= product.precio %></h5>
                            <h5>Nombre restaurante</h5>
                        </a>
                    <% }); %> 
                    <button class="arrow"><i class="fas fa-arrow-right"></i></button>
                </article>
                <article>
                    <h3>Platos principales</h3>
                    <br>
                    <div class="plato">
                        <img src="img\Ribs-Kansas.jpg" alt="">
                        <h4>Plato 1</h4>
                        <h5>Precio</h5>
                        <h5>Nombre restaurante</h5>
                    </div>
                    <div class="plato">
                        <img src="img\Ribs-Kansas.jpg" alt="">
                        <h4>Plato 2</h4>
                        <h5>Precio</h5>
                        <h5>Nombre restaurante</h5>
                    </div>
                    <div class="plato">
                        <img src="img\Ribs-Kansas.jpg" alt="">
                        <h4>Plato 3</h4>
                        <h5>Precio</h5>
                        <h5>Nombre restaurante</h5>
                    </div>
                    <button class="arrow"><i class="fas fa-arrow-left"></i></button>
                    <button class="arrow"><i class="fas fa-arrow-right"></i></button>
                </article>
                <article>
                    <h3>Postres</h3>
                    <div class="plato">
                        <img src="img\postre_turron_chischoco1.jpg" alt="">
                        <h4>Postre 1</h4>
                        <h5>Precio</h5>
                        <h5>Nombre restaurante</h5>
                    </div>
                    <div class="plato">
                        <img src="img\postre_turron_chischoco1.jpg" alt="">
                        <h4>Postre 2</h4>
                        <h5>Precio</h5>
                        <h5>Nombre restaurante</h5>
                    </div>
                    <div class="plato">
                        <img src="img\postre_turron_chischoco1.jpg" alt="">
                        <h4>Postre 3</h4>
                        <h5>Precio</h5>
                        <h5>Nombre restaurante</h5>
                    </div>
                    <button class="arrow"><i class="fas fa-arrow-left"></i></button>
                    <button class="arrow"><i class="fas fa-arrow-right"></i></button>
                </article>
                <article>
                    <h3>Bebidas</h3>
                    <div class="plato">
                        <img src="\img\bebida.jpg" alt="">
                        <h4>Bebida 1</h4>
                        <h5>Precio</h5>
                        <h5>Nombre restaurante</h5>
                    </div>
                    <div class="plato">
                        <img src="img\bebida.jpg" alt="">
                        <h4>Bebida 2</h4>
                        <h5>Precio</h5>
                        <h5>Nombre restaurante</h5>
                    </div>
                    <div class="plato">
                        <img src="img\bebida.jpg" alt="">
                        <h4>Bebida 3</h4>
                        <h5>Precio</h5>
                        <h5>Nombre restaurante</h5>
                    </div>
                    <button class="arrow"><i class="fas fa-arrow-left"></i></button>
                    <button class="arrow"><i class="fas fa-arrow-right"></i></button>
                </article>


            </div>
        </main>
        <% include partials/footer %>
</body>

</html>