<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
        <link rel="stylesheet" href="/css/lista-platos.css">
        <title>Platos</title>
</head>

<body>
    <% include partials/header %>
        <main>
            <h2>Platos</h2>
            <div>
                <article>
                    <h3>Entradas</h3>
                    <br>
                    <button class="arrow"><i class="fas fa-arrow-left"></i></button>
                    <div class="contenedor">
                    <% products.forEach(product => { %>
                        
                        <a class="plato" href="/product/<%= product.idPlato %> ">
                            <img src="<%= product.imagen %>" alt="" width="20%">
                            <h4><%= product.plato %></h4>
                            <h5>$<%= product.precio %></h5>
                            <h5>Nombre restaurante</h5>
                        </a>
                    <% }); %> </div>
                    <button class="arrow"><i class="fas fa-arrow-right"></i></button>
                </article>
                <article>
                    <h3>Platos principales</h3>
                    
                    <button class="arrow"><i class="fas fa-arrow-left"></i></button>
                    <button class="arrow"><i class="fas fa-arrow-right"></i></button>
                </article>
                <article>
                    <h3>Postres</h3>
                    
                    <button class="arrow"><i class="fas fa-arrow-left"></i></button>
                    <button class="arrow"><i class="fas fa-arrow-right"></i></button>
                </article>
                <article>
                    <h3>Bebidas</h3>
                    
                    <button class="arrow"><i class="fas fa-arrow-left"></i></button>
                    <button class="arrow"><i class="fas fa-arrow-right"></i></button>
                </article>


            </div>
        </main>
        <% include partials/footer %>
</body>

</html>