<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
        <link rel="stylesheet" href="/css/lista-restaurantes.css">
        <title>Restaurantes</title>
</head>


<body>
    <% include partials/header %>
        <main>

            <h1 class="titulo">Restaurantes:</h1>
            <div class="contenedor">
                <% restaurantes.forEach (resto=> { %>
                    <div class="resto">
                        <img src="<%= resto.avatar %>" alt="" width="20%">
                        <h3>
                            <%= resto.nombre %>
                        </h3>
                        <h4>
                            <%= resto.direccion %>
                        </h4>
                        <h5>Capacidad:
                            <%= resto.capacidad %>
                        comensales</h5>
                        <button>Ver más</button>
                    </div>
                    <% }) %>
            </div>
        </main>
        <% include partials/footer %>
</body>

</html>