<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %> 
    <title>Comamos</title>
    <script src="/js/googleMap.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <%- include partials/header %> 
    <main class="product-view">
        <h2 class="titulo-detalle">Detalle del producto</h2>
        <div class="reserve-form-wide">
            <div class="box-order1">
                <img src="<%= productSelect.productRestaurant.avatar %>" alt="imagen plato" class="image-restaurant">
                <a href="/lista-platos" class="left-separation box-order2">
                    <h2 class="product-title"><%= productSelect.productRestaurant.nombre %></h2>
                </a>
            </div>
            <div class="map-style">
                <!--The div element for the map -->
                <div id="map"></div>
                <script>
                    async function initMap () {
                    const resp = await fetch(`https://maps.googleapis.com/maps/api/geocode/json?address=<%= productSelect.productRestaurant.direccion %>&key=AIzaSyAFOo6YZ_RiBv1vbXSOxAWR6UmMIMozn6M`)
                    const data = await resp.json();
                    const address = { lat: data.results[0].geometry.location.lat, lng: data.results[0].geometry.location.lng };
                    const map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 16,
                        center: address,
                    });
                    const marker = new google.maps.Marker({
                        position: address,
                        map: map,
                    });
                    }
                </script>
                <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFOo6YZ_RiBv1vbXSOxAWR6UmMIMozn6M&callback=initMap&libraries=&v=weekly"
                async
                ></script>
                <h2 class="product-title"><%= productSelect.productRestaurant.direccion %></h2>
            </div>
        </div>
        <article class="reserve-form">
            <div class="box-order1">
                <img src="<%= productSelect.imagen %>" alt="imagen plato" class="image-result">
            </div>
            <div class="flex-column">   
                <div class="left-separation box-order2">
                    <h3 class="product-title"><%= productSelect.plato %></h3>
                    <p class="product-description"><%= productSelect.descripcion %></p>
                    <h5 class="product-category">Categoría: <%= productSelect.categoria %></h5>
                    <h4 class="product-price">Precio: $<%= productSelect.precio %></h4>
                </div>
                <div class="buttons-orders">
                    <a href="#" id="<%= productSelect.idPlato %> " class="btn">Reservar</a>
                </div>    
            </div>
        </article>
    </main>
    <%- include partials/footer %>
    <script src="/js/shop-singleProduct.js"></script>
</body>

</html>