<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %> 
    <title>Comamos</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <%- include partials/header %> 
    <main class="product-view">
        <div class="search">
            <form action="" method="">

                <label for="busqueda1"></label>
                <input type="text" name="busqueda1" id="busqueda1" placeholder="Restaurante, tipo de comida...">

                <label for="busqueda2"></label>
                <input type="text" name="busqueda2" class="box-mobile" id="busqueda2" placeholder="Cerca de mi dirección">

                <select name="filtrar" id="filtrar" class="box-mobile">
                    <option value="filtra">Filtra tu búsqueda</option>
                </select>
                <button type="submit" name="buscar" id="boton-buscar">Buscar</button>
                <i class="fas fa-search" id="boton-lupa"></i>
            </form>
        </div>
        <div class="reserve-form-wide">
            <div class="box-order1">
                <img src="<%= restaurantDataBase[restaurantDataBase.findIndex(i => i.idRestaurant == productSelect.idRestaurant)].avatar %>" alt="imagen plato" class="image-restaurant">
                <a href="/lista-platos" class="left-separation box-order2">
                    <h2 class="product-title"><%= restaurantDataBase[restaurantDataBase.findIndex(i => i.idRestaurant == productSelect.idRestaurant)].nombre %></h2>
                </a>
            </div>
            <div class="map-style">
                <iframe
                    src="<%= restaurantDataBase[restaurantDataBase.findIndex(i => i.idRestaurant == productSelect.idRestaurant)].mapa  %>"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <h2 class="product-title"><%= restaurantDataBase[restaurantDataBase.findIndex(i => i.idRestaurant == productSelect.idRestaurant)].direccion %></h2>
            </div>
        </div>
        <article class="reserve-form">
            <div class="box-order1">
                <img src="<%= productSelect.imagen %>" alt="imagen plato" class="image-result">
            </div>
            <div class="flex-column">   
                <div class="left-separation box-order2">
                    <h3 class="product-title"><%= productSelect.plato %></h3>
                    <p class="product-description"><%= productSelect.descripcion %></p>
                    <h5 class="product-category">Categoría: <%= productSelect.categoria %></h5>
                    <h4 class="product-price">Precio: $<%= productSelect.precio %></h4>
                </div>
                <div class="buttons-orders">
                    <form action="/user/account-buisness/products/edit/<%= productSelect.idPlato %>" method="GET" class="logout-button">
                        <button type="submit" class="none-decoration">Reservar</button>
                    </form>
                </div>    
            </div>
        </article>
    </main>
    <%- include partials/footer %>     
</body>

</html>