<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-login.css">
    <title>Comamos</title>

 
</head>
<body>

    <%- include partials/header %> 


  <main class="centro">
    
    <form action="/user/login" method="POST" class="format-form">
      
      <div class="exit">
        <a href="" class="exit-button"><i class="fas fa-times"></i></a>
      </div>
  
      
      <h2 class="close" id="padding">Login</h2>
        <div>
          <label class="alejar">Email</label><div></div>
          <input type= "email" name= "email" id= "email"></input>
          <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
              <%= errors.email.msg %>
            </div>
            <% } %>
        </div>
        
        <div>
          <label>Contraseña</label><div></div>
          <input type= "password" name= "password" id= "contraseña"></input>
          <% if (locals.errors && errors.password) { %>
                  <div class="text-danger">
                    <%= errors.password.msg %>
                  </div>
                <% } %>
        </div>

        <div class="alejar">
          <input class="center logout-button" type="submit" value="Login"></input>
          <div class="rebember">
            <label for="recordarme" class="width48">Recordar usuario </label>
            <input type="checkbox" value="Recordarme" name= "recordarme" id="recordarme"></input>
          </div>
        </div>

            <p class="subrayado">Restablecer contraseña</p>
            <div></div>
    </form>
</main>


<%- include partials/footer %>     

</body>




</html>

