<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-login.css">
    <title>Comamos</title>
</head>
<body>

    <%- include partials/header %>



  <main class="center">
 

    
    <div class="margin-bottom">
        <h3>Est치s a un paso de empezar a </h3>
        <h3>elegir tus platos favoritos...</h3>
    </div>
 

    <div class="centro">

      <form action="/user/register" method="POST" enctype="multipart/form-data"
        class="<%= locals.errors? 'form-wide2' : null %>">
        
        <div class="exit">
          <a href="/" class="exit-button"><i class="fas fa-times"></i></a>
        </div>
    
        
        <h2>Registrarse</h2>
         <div>
          <div class="box-register">
            <!-- <label class="alejar">Nombre</label> -->
            <input type= "text" name= "nombre" id= "nombre" placeholder="Nombre"
              class="<%= locals.errors && errors.nombre? 'is-invalid' : null %>"
              value="<%= locals.oldData ? oldData.nombre : null %>">
            </input>
            <% if (locals.errors && errors.nombre) { %>
									<div class="text-danger">
										<%= errors.nombre.msg %> 
									</div>
								<% } %>
          </div>

          <div class="box-register">
            <!-- <label>Apellido</label> -->
            <input type= "text" name= "apellido" id= "apellido" placeholder="Apellido"
              class="<%= locals.errors && errors.apellido? 'is-invalid' : null %>"
              value="<%= locals.oldData ? oldData.apellido : null %>">
            </input>
            <% if (locals.errors && errors.apellido) { %>
									<div class="text-danger">
										<%= errors.apellido.msg %> 
									</div>
								<% } %>
          </div>
    
          <div class="box-register">
            <!-- <label>Direccion de correo electronico</label> -->
            <input type= "email" name= "email" id= "email" placeholder="Email"
              class="<%= locals.errors && errors.email? 'is-invalid' : null %>"
              value="<%= locals.oldData ? oldData.email : null %>">
            </input>
            <% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %> 
									</div>
								<% } %>
          </div>
          
          <div class="box-register">
            <!-- <label>Crear contrase침a</label> -->
            <input type= "password" name= "password" id= "contrase침a" placeholder="Contrase침a"
              class="<%= locals.errors && errors.password? 'is-invalid' : null %>"
              value="<%= locals.oldData ? oldData.password : null %>">
            </input>
            <% if (locals.errors && errors.password) { %>
									<div class="text-danger">
										<%= errors.password.msg %> 
									</div>
								<% } %>
          </div>
        </div> 
          <div>  
            <button class="center logout-button" type="submit">Crear Cuenta</button>
          </div>
      </form>
    
    </div>

  </main>

<%- include partials/footer %>     

</body>
</html>