<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account.css">
    <script src="/js/googleMap.js"></script>
    <script src="/js/loader.js"></script>
    <title>Pedido # <%=orderSelect.idOrder %></title>
</head>

<body>
    <%- include partials/header %> 
        <main class="main-order">
            <article class="reserve-form2 flex-wrap">
                <div class="container-1">
                    <div class="box-order1">
                        <img src="<%= orderSelect.restaurant.avatar %>" alt="imagen restaurante" class="image-result">
                    </div>    
                    <div class="left-separation box-order2">
                        <a href="">
                            <h4 class="order-title">
                                <%= orderSelect.restaurant.nombre %>
                            </h4>
                        </a>
                        <h4 class="color-name"><%= orderSelect.restaurant.direccion %></h4>
                    </div>
                    <div class="order-form">
                        <h4 class="order-title">Pedido #<%=orderSelect.idOrder %> </h4>
                        <h4 class="color-name">Platos Comprados:
                            <div id="product-detail-container">
                                <% orderSelect.products.forEach(product => { %>
                                    <dv id="product-quantity">
                                        <a href="/product/<%= product.idPlato %> "><h4 class="products"><%= product.plato %></h4></a>
                                        <h4 class="products">(x<%= orderSelect.platos[orderSelect.platos.findIndex(i => i.id_product == product.idPlato)].cantidad %>)</h4>
                                    </dv>
                                <% }) %> 
                            </div>
                        </h4>
                        <h5 class="color-name">Nº de comensales: <%= orderSelect.comensales %></h5>
                        <h5 class="color-name">Fecha y hora de la reserva: <%= moment(orderSelect.fecha_reserva).format('DD/MM/YY HH:mm') %></h5>
                        <% if(orderSelect.table) { %> 
                            <h5 class="color-name"><%= orderSelect.table.name %></h5>
                        <% }; %> 
                        <h5 class="products">Total: $<%= orderSelect.total %></h5>
                    </div>
                    
                <div class="container-2">
                    <div id="map"></div>
                        <script>
                            async function initMap () {
                            const resp = await fetch(`https://maps.googleapis.com/maps/api/geocode/json?address=<%= orderSelect.restaurant.direccion %>&key=AIzaSyAFOo6YZ_RiBv1vbXSOxAWR6UmMIMozn6M`)
                            const data = await resp.json();
                            const address = { lat: data.results[0].geometry.location.lat, lng: data.results[0].geometry.location.lng };
                            const map = new google.maps.Map(document.getElementById("map"), {
                                zoom: 16,
                                center: address,
                            });
                            const marker = new google.maps.Marker({
                                position: address,
                                map: map,
                            });
                            }
                        </script>
                        <script
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFOo6YZ_RiBv1vbXSOxAWR6UmMIMozn6M&callback=initMap&libraries=&v=weekly"
                        async
                        ></script>
                    </div>
                    <form action="/user/account/my-order/<%= orderSelect.idOrder %>/cancel?_method=PUT" method="POST" class="coment-button box-order3">
                        <input type="submit" name="estado" class="none-decoration logout-button" value="Cancelar Reserva"></input>
                    </form>
                </div>
            </article>
            <form action="/user/account">
                <fieldset class="logout-button">
                    <button action="action" type="submit" onclick="window.history.go(-1); return false;" class="none-decoration">Volver</button>
                </fieldset>
            </form>
        </main>
    <%- include partials/footer %>
</body>

</html>