<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account.css">
    <title>Reservas</title>
</head>

<body>
    <%- include partials/header %>
    <main class="main-order">
    <% if (ordersUser.length >= 1) { %> 
        <% ordersUser.forEach(order => { %>
                <article class="reserve-form">
                    <div class="box-order1">
                        <img src="<%= order.restaurant.avatar %>" alt="imagen restaurante" class="image-result">
                    </div>    
                    <div class="left-separation box-order2">
                        <a href="/"></a><h4><%= order.restaurant.nombre %></h4>
                        <ul>Platos Comprados:
                            <% order.products.forEach(product => { %>
                                <li>
                                    <a href="/product/<%= product.idPlato %> ">
                                        <%= product.plato %>
                                    </a>
                                    (x<%= order.platos[order.platos.findIndex(i => i.idOrder == order.platos.idOrder)].cantidad %>)
                                </li>
                            <% }) %> 
                        </ul>
                    </div>
                    <form action="" method="POST" class="coment-button box-order3">
                        <% if (order.estado == 'Completada') { %>
                            <input type="button" value="Dejar reseña" class="logout-button">
                            <button type="submit"></button>
                            <h4 class="confirmed"><%= order.estado %> </h4>
                            <% } else if (order.estado == 'Cancelada') { %>
                                <h4 class="cancel"><%= order.estado %> </h4>
                            <% } %> 
                    </form>
                </article>
                
                <%  }); %>
                <% } else { %>
                    <h2 class="no-orders">todavia no tenes pedidos realizados...</h2>
                    <a href="/">
                        <h2 class="no-orders">Te invitamos a ver los mejores platos para tu reserva</h2>
                    </a>
                    <% } %>
                    <form action="/user/account">
                        <fieldset class="logout-button center">
                            <button type="menu" class="none-decoration">Volver</button>
                        </fieldset>
                    </form> 
                </main>
    <%- include partials/footer %>     
</body>

</html>