<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account.css">
    <title>Reservas</title>
</head>

<body>
    <%- include partials/header %>
    <main class="main-order">
    <% if (ordersUser.length >= 1) { %> 
        <% ordersUser.forEach(order => { %>
                <article class="reserve-form">
                    <div class="box-order1">
<<<<<<< HEAD
                        <img src="<%= userDataBase[userDataBase.findIndex(i => i.isUser == order.isUser)].avatar %>" alt="imagen restaurante" class="image-result">
                    </div>    
                    <div class="left-separation box-order2">
                        <h4><%= userDataBase[userDataBase.findIndex(i => i.isUser == order.isUser)].nombre %></h4>
                        <h4>Platos Comprados: <%  order.info_order.forEach(plato => { %>
                            <%= productsDataBase[productsDataBase.findIndex(i => i.idPlato == plato.idPlato)].plato %> 
                            Cantidad: <%= plato.cantidad %> 
                            <% }); %>
                        </h4>
                        <h5>Nº de comensales: <%= order.comensales %></h5>
                        <h5>Fecha y hora de la reserva: <%= order.fecha_hora_reserva %></h5>
                        <h5>Total: $<%= order.precioTotal %></h5>
=======
                        <img src="<%= order.restaurant.avatar %>" alt="imagen restaurante" class="image-result">
                        <a href="/"></a><h4 class="color-name"><%= order.restaurant.nombre %></h4>
                    </div>    
                    <div class="left-separation box-order2">
                        <a href="/user/account/my-order/<%= order.idOrder %>" class="order-title">
                            <h4>Pedido #<%=order.idOrder %> </h4>
                        </a>
                        <ul>
                            <% order.products.forEach(product => { %>
                                <li class="products">
                                    <a href="/product/<%= product.idPlato %> " class="products">
                                        <%= product.plato %>
                                    </a>
                                    (x<%= order.platos[order.platos.findIndex(i => i.idOrder == order.platos.idOrder)].cantidad %>)
                                </li>
                            <% }) %> 
                        </ul>
>>>>>>> main
                    </div>
                    <form action="" method="POST" class="coment-button box-order3">
                        <% if (order.estado == 'Completada') { %>
                            <input type="button" value="Dejar reseña" class="logout-button">
                            <h4 class="confirmed"><%= order.estado %> </h4>
                            <% } else if (order.estado == 'Cancelada') { %>
                                <h4 class="cancel"><%= order.estado %> </h4>
                            <% } %> 
                    </form>
                </article>
                
                <%  }); %>
                <% } else { %>
                    <h2 class="no-orders">todavia no tenes pedidos realizados...</h2>
                    <a href="/">
                        <h2 class="no-orders">Te invitamos a ver los mejores platos para tu reserva</h2>
                    </a>
                    <% } %>
                    <form action="/user/account">
                        <fieldset class="logout-button center">
                            <button type="menu" class="none-decoration">Volver</button>
                        </fieldset>
                    </form> 
                </main>
    <%- include partials/footer %>     
</body>

</html>