<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account.css">
    <title>Cuenta</title>
</head>

<body>
    <%- include partials/header-account %> 
    <main>
        <section class="box-space">
            <div class="align-image-user">
                <img src="<%= userSelect.avatar %>" alt="user image" class="user-image">
            </div>
            <div class="align-titles">
                <h3><%= userSelect.nombre+' '+ userSelect.apellido%></h3>
            </div>
        </section>
        <div class="flex-row">
            <section class="box-space1">
                <ul type='none' class="data-form">
                    <li>
                        <a href="/login/account/more-info/adress/<%= userSelect.idUser %>">
                            <i class="fas fa-map-marked-alt"></i>
                            <h2>Mis domicilios</h2>
                        </a>
                    </li>
                    <li>
                        <a href="/login/account/more-info/pay-methods/<%= userSelect.idUser %>">
                            <i class="fas fa-money-check-alt"></i>
                            <h2>Medios de pago</h2>
                        </a>
                    </li>
                    <form action="/?_method=DELETE" method="POST">
                        <fieldset class="logout-button">
                            <input type="submit" value="Eliminar Cuenta" class="none-decoration"></input>
                            <i class="fas fa-user-times"></i>
                        </fieldset>
                        <button type="submit"></button>
                    </form>
                </ul>
            </section>
            <section class="box-space2">
                <ul type='none' class="data-form">
                    <li>
                        <a href="/login/account/<%= userSelect.idUser %>">
                            <i class="fas fa-home"></i>
                            <h2>Inicio</h2>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="fas fa-gift"></i>
                            <h2>Cupones</h2>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-heart"></i>
                            <h2>Mis Favoritos</h2>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <form action="/">
            <fieldset class="logout-button">
                <input type="submit" value="Log out" class="none-decoration"></input>
                <i class="fas fa-sign-out-alt"></i>
            </fieldset>
            <button type="submit"></button>
        </form>
    </main>
    <%- include partials/footer %>     
</body>

</html>